

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="/" class="text-decoration-none">
                    <h2 class="m-0 display-5 font-weight-semi-bold"><span
                        class="text-primary font-weight-100 border px-3 mr-1 pb-2"><i class="fas fa-stream text-new pr-2"></i>Keybounce</span></h2>
                </a>
                <p class="p-2">For that perfect typing experience.</p>
                <p class="mb-2"><i class="fa fa-map-marker text-primary mr-3"></i>Brototype, Laham Complex</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>abhy.r010@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone text-primary mr-3"></i>9539336483</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="/shop"><i class="fa fa-angle-right mr-2"></i>Our
                                Shop</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/wishlist"><i class="fa fa-angle-right mr-2"></i>Wishlist</a>
                            <a class="text-dark mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Cart</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-2" placeholder="Your Name"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-2" placeholder="Your Email"
                                    required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-1" type="submit">Subscribe
                                    Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href=""> <i class="fab fa-twitter"></i></a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="https://www.linkedin.com/in/abhiraj-r-85247a259/">    <i class="fab fa-linkedin-in"></i></a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">    <i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Keybounce</a>. All Rights Reserved.
                    Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://www.linkedin.com/in/abhiraj-r-85247a259/">Abhy</a><br>
                    <a href="https://themewagon.com" target="_blank"></a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <script>
   
        function addToCart(productId) {
        $.ajax({
          url: '/addtoCart?id=' + productId,
          method: 'GET',
          success: function(response) {
            if (response.status) {
              Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Added to cart',
                showConfirmButton: false,
                timer: 1500,
              });
              let count = $('#cart-count').html();
              count = parseInt(count) + 1;
              $('#cart-count').html(count);
            } else {
              Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Please login',
                showConfirmButton: false,
                timer: 1500,
              });
              let count = $('#cart-count').html();
              count = parseInt(count) + 1;
              $('#cart-count').html(count);
            }
          },
        });
      }
     </script>
     
     <script>
        
        function addToWishlist(productId) {
        $.ajax({
          url: '/add-wishlist?id=' + productId,
          method: 'GET',
          success: function(response) {
            if (response.status) {
              Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Added to wishlist!',
                showConfirmButton: false,
                timer: 1500,
              });
              let count = $('#cart-count').html();
              count = parseInt(count) + 1;
              $('#cart-count').html(count);
            } else {
              Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Please login!',
                showConfirmButton: false,
                timer: 1500,
              });
              let count = $('#cart-count').html();
              count = parseInt(count) + 1;
              $('#cart-count').html(count);
            }
          },
        });
      }
     </script>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    
</body>

</html>